form {
    position:fixed;
    bottom: 5%;
    width:100%;
}

form input{
    width: 90%;
    margin-right: .5%;
}

.sendBtn{
    width:9%;
}

#chatlog {
    list-style:none;
}

#chatlog :nth-child(even){
    background-color: rgb(226, 226, 226)
}